<div>
  <%= render 'users/user_card'%>
  <% @posts.each do |post| %>
    <div class='post-card'>
      <h3><%=link_to post.title, user_post_path(@user.id, post), :class => 'post-title'%></h3>
      <p><%= post.text %></p>
      <div class='likes-comments'>
        <p>Comments: <%= post.commentsCounter.nil? ? 0 : post.commentsCounter %></p>
        <p>Likes: <%= post.likesCounter.nil? ? 0 : post.likesCounter %></p>
      </div>
    </div>
    <div class='comments_cnt'>
      <% post.recent_comments.each do |comment| %>
        <p><%= User.find(comment.authorId).name %>: <%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
</div>